<a href="https://colab.research.google.com/github/woranut11/dataviz2025/blob/main/HW_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 4  ยอดรวมทั้ง 5 เดือน เมืองไหนมีจำนวนผู้ถูกเรียกค้นที่เป็นคน Asia น้อยที่สุด และ มากที่สุด

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##2025-01

In [28]:
data_all_01 = '/content/drive/MyDrive/python2025/Data/2025-01'

In [31]:
csv_01 = [f for f in os.listdir(data_all_01) if f.endswith('.csv')]
select_01 = [file for file in csv_01 if 'stop-and-search' in file]
len(select_01)

 # มี 38 เมือง

38

## 2025-02

In [34]:
data_all_02 = '/content/drive/MyDrive/python2025/Data/2025-02'

In [36]:
csv_files_02 = [f for f in os.listdir(data_all_02) if f.endswith('.csv')]

In [37]:
select_files_02 = [file for file in csv_files_02 if 'stop-and-search' in file]
len(select_files_02)

 # มี 38 เมือง

38

##  2025-03

In [41]:
data_all_03 = '/content/drive/MyDrive/python2025/Data/2025-03'

In [42]:
csv_files_03 = [f for f in os.listdir(data_all_03) if f.endswith('.csv')]

In [43]:
select_files_03 = [file for file in csv_files_03 if 'stop-and-search' in file]
len(select_files_03)

 # มี 37 เมือง

36

## *2025-04*

In [46]:
data_all_04 ='/content/drive/MyDrive/python2025/Data/2025-04'

In [47]:
csv_files_04 = [f for f in os.listdir(data_all_04) if f.endswith('.csv')]

In [48]:
select_files_04 = [file for file in csv_files_04 if 'stop-and-search' in file]
len(select_files_04)

 # มี 37 เมือง

36

## 2025-05

In [55]:
data_all_05 = '/content/drive/MyDrive/python2025/Data/2025-05'

In [50]:
csv_files_05 = [f for f in os.listdir(data_all_05) if f.endswith('.csv')]

In [51]:
select_files_05 = [file for file in csv_files_05 if 'stop-and-search' in file]
len(select_files_05)

 # มี 36 เมือง

36

## ดูว่าเดือนไหนมีเมืองอะไรบ้างและเดือนในไม่มีเมืองอะไร

In [71]:
may_df.head()

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person search,2025-05-01T15:15:52+00:00,NaN,NaN,51.517461,-0.089808,Male,18-24,Asian/Asian British - Indian,Asian,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,A no further action disposal,False,False
1,Person search,2025-05-01T18:54:29+00:00,NaN,NaN,51.513882,-0.095924,Male,18-24,Other ethnic group - Not stated,Black,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,Caution (simple or conditional),True,False
2,Person search,2025-05-01T20:41:52+00:00,NaN,NaN,51.512024,-0.094460,Male,over 34,Other ethnic group - Not stated,Other,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,Community resolution,True,False
3,Person search,2025-05-01T20:46:35+00:00,NaN,NaN,51.511794,-0.101906,Male,over 34,White - Any other White background,White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Arrest,True,False
4,Person search,2025-05-01T21:28:28+00:00,NaN,NaN,51.513079,-0.094070,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Community resolution,True,False

## ยอดรวมทั้ง 5 เดือน เมืองไหนมีจำนวนผู้ถูกเรียกค้นที่เป็นคน Asia น้อยที่สุด และ มากที่สุด

In [74]:
# รายการลิสต์ของไฟล์ที่เลือกสำหรับแต่ละเดือน
all_selected_files = [select_01, select_files_02, select_files_03, select_files_04, select_files_05]
data_all_paths = [data_all_01, data_all_02, data_all_03, data_all_04, data_all_05]

# สร้างลิสต์ว่างเพื่อเก็บ dataframes
df_list = []

# วนลูปผ่านข้อมูลของแต่ละเดือน
for month_files, month_path in zip(all_selected_files, data_all_paths):
    # วนลูปผ่านไฟล์ที่เลือกในแต่ละเดือน
    for file_name in month_files:
        file_path = os.path.join(month_path, file_name)
        # แยกชื่อเมืองออกจากชื่อไฟล์
        city_name = file_name.split('-stop-and-search')[0].split('-', 2)[-1]
        try:
            # อ่านไฟล์ CSV
            df = pd.read_csv(file_path)
            # เพิ่มคอลัมน์ 'City'
            df['City'] = city_name
            # เพิ่ม dataframe ไปยังลิสต์
            df_list.append(df)
        except Exception as e:
            print(f"ข้อผิดพลาดในการอ่านไฟล์ {file_path}: {e}")

# นำ dataframes ทั้งหมดมารวมกันเป็น dataframe เดียว
if df_list:
    all_data_df = pd.concat(df_list, ignore_index=True)

    # กรองข้อมูลเฉพาะบันทึกการหยุดตรวจค้นที่มีเชื้อชาติเป็น 'Asian'
    asian_stop_and_search = all_data_df[all_data_df['Self-defined ethnicity'].str.contains('Asian', na=False)]

    # นับจำนวนเหตุการณ์หยุดตรวจค้นของคน Asian ในแต่ละเมือง
    asian_counts_by_city = asian_stop_and_search['City'].value_counts().reset_index()
    asian_counts_by_city.columns = ['City', 'Asian_Stop_and_Search_Count']

    # ค้นหาเมืองที่มีจำนวนน้อยที่สุดและมากที่สุด
    min_city = asian_counts_by_city.loc[asian_counts_by_city['Asian_Stop_and_Search_Count'].idxmin()]
    max_city = asian_counts_by_city.loc[asian_counts_by_city['Asian_Stop_and_Search_Count'].idxmax()]

    print("📉 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **น้อยที่สุด** ตลอด 5 เดือน:")
    print(f"➡️ เมือง: {min_city['City']}, จำนวนครั้ง: {min_city['Asian_Stop_and_Search_Count']} ครั้ง\n")

    print("📈 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **มากที่สุด** ตลอด 5 เดือน:")
    print(f"➡️ เมือง: {max_city['City']}, จำนวนครั้ง: {max_city['Asian_Stop_and_Search_Count']} ครั้ง")

else:
    print("ไม่พบข้อมูล dataframe ที่โหลดได้")

📉 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **น้อยที่สุด** ตลอด 5 เดือน:
➡️ เมือง: durham, จำนวนครั้ง: 5 ครั้ง

📈 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **มากที่สุด** ตลอด 5 เดือน:
➡️ เมือง: west-midlands, จำนวนครั้ง: 2104 ครั้ง

In [76]:
# ตรวจสอบให้แน่ใจว่าคอลัมน์ 'Date' อยู่ในรูปแบบ datetime
all_data_df['Date'] = pd.to_datetime(all_data_df['Date'], errors='coerce')

# แยกเดือนและปีและแปลงเป็นสตริง
all_data_df['Month_Year'] = all_data_df['Date'].dt.to_period('M').astype(str)


# กรองข้อมูลสำหรับบันทึกการหยุดตรวจค้นที่เชื้อชาติเป็น 'Asian'
asian_stop_and_search = all_data_df[all_data_df['Self-defined ethnicity'].str.contains('Asian', na=False)]

# จัดกลุ่มตามเมืองและเดือน/ปี และนับจำนวนเหตุการณ์
asian_monthly_counts = asian_stop_and_search.groupby(['City', 'Month_Year']).size().reset_index(name='Asian_Stop_and_Search_Count')

# Pivot ตารางเพื่อให้เมืองเป็นแถวและเดือนเป็นคอลัมน์
asian_monthly_pivot = asian_monthly_counts.pivot_table(
    index='City',
    columns='Month_Year',
    values='Asian_Stop_and_Search_Count'
).fillna(0).astype(int) # เติมค่าที่หายไปด้วย 0 และแปลงเป็นจำนวนเต็ม

# เพิ่มคอลัมน์ยอดรวม
asian_monthly_pivot['Total'] = asian_monthly_pivot.sum(axis=1)

# กำหนดฟังก์ชันสำหรับไฮไลท์ค่าต่ำสุดและสูงสุดในคอลัมน์ 'Total'
def highlight_min_max_total(s):
    is_min = s == s.min()
    is_max = s == s.max()
    return ['background-color: green' if v_max or v_min else '' for v_min, v_max in zip(is_min, is_max)]


print("จำนวนเหตุการณ์หยุดตรวจค้นคน Asian ในแต่ละเมืองแยกตามเดือนพร้อมยอดรวมและไฮไลท์:")

# ใช้ไฮไลท์กับคอลัมน์ 'Total'
styled_df = asian_monthly_pivot.style.apply(highlight_min_max_total, subset=['Total'])

display(styled_df)

จำนวนเหตุการณ์หยุดตรวจค้นคน Asian ในแต่ละเมืองแยกตามเดือนพร้อมยอดรวมและไฮไลท์:

/tmp/ipython-input-3630920935.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  all_data_df['Month_Year'] = all_data_df['Date'].dt.to_period('M').astype(str)

## เพิ่มเติม --- เปรียบเทียบผลลัพธ์ --ข้อมูลเมืองครบกับไม่ครบ

In [77]:
# สมมติว่า all_data_df, df_cities, min_city, และ max_city มีอยู่จากการทำงานก่อนหน้า

# ดึงรายการเมืองที่มีข้อมูลครบทั้ง 5 เดือนจาก DataFrame df_cities
try:
    รายการเมือง_ครบ_5_เดือน = df_cities[df_cities['Present in all 5 months'] == 'Yes']['City'].tolist()
except NameError:
    print("ข้อผิดพลาด: 'df_cities' ยังไม่ได้ถูกกำหนด กรุณารันเซลล์ที่ระบุเมืองที่มีข้อมูลครบทุกเดือนก่อน")
    รายการเมือง_ครบ_5_เดือน = [] # กำหนดเป็นรายการว่างเพื่อป้องกันข้อผิดพลาดเพิ่มเติม

if รายการเมือง_ครบ_5_เดือน:
    # กรอง DataFrame หลักเพื่อรวมเฉพาะข้อมูลจากเมืองที่มีข้อมูลครบทั้ง 5 เดือน
    ข้อมูลเมืองที่เชื่อถือได้_df = all_data_df[all_data_df['City'].isin(รายการเมือง_ครบ_5_เดือน)]

    # กรองสำหรับบันทึกการหยุดตรวจค้นที่เชื้อชาติเป็น 'Asian'
    ข้อมูลคนเอเชีย_เมืองที่เชื่อถือได้ = ข้อมูลเมืองที่เชื่อถือได้_df[ข้อมูลเมืองที่เชื่อถือได้_df['Self-defined ethnicity'].str.contains('Asian', na=False)]

    # นับจำนวนเหตุการณ์หยุดตรวจค้นคน Asian ต่อเมืองในเมืองที่เชื่อถือได้
    จำนวนคนเอเชีย_ต่อเมือง_เชื่อถือได้ = ข้อมูลคนเอเชีย_เมืองที่เชื่อถือได้['City'].value_counts().reset_index()
    จำนวนคนเอเชีย_ต่อเมือง_เชื่อถือได้.columns = ['เมือง', 'จำนวนการหยุดตรวจค้น_คนเอเชีย']

    # ค้นหาเมืองที่มีจำนวนน้อยที่สุดและมากที่สุดในกลุ่มเมืองที่เชื่อถือได้
    เมือง_น้อยที่สุด_เชื่อถือได้ = จำนวนคนเอเชีย_ต่อเมือง_เชื่อถือได้.loc[จำนวนคนเอเชีย_ต่อเมือง_เชื่อถือได้['จำนวนการหยุดตรวจค้น_คนเอเชีย'].idxmin()]
    เมือง_มากที่สุด_เชื่อถือได้ = จำนวนคนเอเชีย_ต่อเมือง_เชื่อถือได้.loc[จำนวนคนเอเชีย_ต่อเมือง_เชื่อถือได้['จำนวนการหยุดตรวจค้น_คนเอเชีย'].idxmax()]

    print("--- เปรียบเทียบผลลัพธ์ ---")

    print("\nผลลัพธ์จากการพิจารณาเมืองทั้งหมด (ที่ปรากฏในอย่างน้อยหนึ่งเดือน):")
    # สมมติว่า min_city และ max_city มีอยู่
    try:
        print(f"📉 เมืองที่มีจำนวนการหยุดตรวจค้นน้อยที่สุด: {min_city['City']}, จำนวนครั้ง: {min_city['Asian_Stop_and_Search_Count']} ครั้ง")
        print(f"📈 เมืองที่มีจำนวนการหยุดตรวจค้นมากที่สุด: {max_city['City']}, จำนวนครั้ง: {max_city['Asian_Stop_and_Search_Count']} ครั้ง")
    except NameError:
        print("ข้อผิดพลาด: 'min_city' หรือ 'max_city' ยังไม่ได้ถูกกำหนด กรุณารันเซลล์ที่คำนวณค่าเหล่านี้สำหรับเมืองทั้งหมดก่อน")


    print("\nผลลัพธ์จากการพิจารณาเฉพาะเมืองที่มีข้อมูลครบทั้ง 5 เดือน:")
    print(f"📉 เมืองที่มีจำนวนการหยุดตรวจค้นน้อยที่สุด: {เมือง_น้อยที่สุด_เชื่อถือได้['เมือง']}, จำนวนครั้ง: {เมือง_น้อยที่สุด_เชื่อถือได้['จำนวนการหยุดตรวจค้น_คนเอเชีย']} ครั้ง")
    print(f"📈 เมืองที่มีจำนวนการหยุดตรวจค้นมากที่สุด: {เมือง_มากที่สุด_เชื่อถือได้['เมือง']}, จำนวนครั้ง: {เมือง_มากที่สุด_เชื่อถือได้['จำนวนการหยุดตรวจค้น_คนเอเชีย']} ครั้ง")

else:
    print("ไม่สามารถทำการวิเคราะห์ได้ เนื่องจากไม่มีรายชื่อเมืองที่มีข้อมูลครบ 5 เดือน หรือมีข้อผิดพลาดในการดึงข้อมูลรายชื่อเมือง")

--- เปรียบเทียบผลลัพธ์ ---

ผลลัพธ์จากการพิจารณาเมืองทั้งหมด (ที่ปรากฏในอย่างน้อยหนึ่งเดือน):
📉 เมืองที่มีจำนวนการหยุดตรวจค้นน้อยที่สุด: durham, จำนวนครั้ง: 5 ครั้ง
📈 เมืองที่มีจำนวนการหยุดตรวจค้นมากที่สุด: west-midlands, จำนวนครั้ง: 2104 ครั้ง

ผลลัพธ์จากการพิจารณาเฉพาะเมืองที่มีข้อมูลครบทั้ง 5 เดือน:
📉 เมืองที่มีจำนวนการหยุดตรวจค้นน้อยที่สุด: durham, จำนวนครั้ง: 5 ครั้ง
📈 เมืองที่มีจำนวนการหยุดตรวจค้นมากที่สุด: west-midlands, จำนวนครั้ง: 2104 ครั้ง

ผลลัพธ์ที่ได้ไม่แตกต่างกัน

In [78]:
import os

# Define paths for all months
data_paths = {
    '01': '/content/drive/MyDrive/Python&datavizz2025/data/2025-01',
    '02': '/content/drive/MyDrive/Python&datavizz2025/data/2025-02',
    '03': '/content/drive/MyDrive/Python&datavizz2025/data/2025-03',
    '04': '/content/drive/MyDrive/Python&datavizz2025/data/2025-04',
    '05': '/content/drive/MyDrive/Python&datavizz2025/data/2025-05',
}

all_cities = set()
cities_per_month = {}

# Loop through each month to find cities
for month, path in data_paths.items():
    try:
        # List all stop-and-search csv files
        files = [f for f in os.listdir(path) if 'stop-and-search' in f and f.endswith('.csv')]

        # Extract city names
        cities = set([file.split('-stop-and-search')[0].split('-', 2)[-1] for file in files])

        # Store the number of cities for the month
        cities_per_month[f"2025-{month}"] = len(cities)

        # Add to the set of all unique cities
        all_cities.update(cities)

    except FileNotFoundError:
        print(f"Directory not found for 2025-{month}: {path}")
    except Exception as e:
        print(f"An error occurred for 2025-{month}: {e}")

# Print the number of cities per month
print("จำนวนเมืองในแต่ละเดือน:")
for month, count in sorted(cities_per_month.items()):
    print(f"- {month}: {count} เมือง")

# Print the total number of unique cities
print(f"\nมีเมืองที่ไม่ซ้ำกันทั้งหมด {len(all_cities)} เมือง ตลอด 5 เดือน")

Directory not found for 2025-01: /content/drive/MyDrive/Python&datavizz2025/data/2025-01
Directory not found for 2025-02: /content/drive/MyDrive/Python&datavizz2025/data/2025-02
Directory not found for 2025-03: /content/drive/MyDrive/Python&datavizz2025/data/2025-03
Directory not found for 2025-04: /content/drive/MyDrive/Python&datavizz2025/data/2025-04
Directory not found for 2025-05: /content/drive/MyDrive/Python&datavizz2025/data/2025-05
จำนวนเมืองในแต่ละเดือน:

มีเมืองที่ไม่ซ้ำกันทั้งหมด 0 เมือง ตลอด 5 เดือน

In [79]:
# รายการลิสต์ของไฟล์ที่เลือกสำหรับแต่ละเดือน
all_selected_files = [select_01, select_files_02, select_files_03, select_files_04, select_files_05]
data_all_paths = [data_all_01, data_all_02, data_all_03, data_all_04, data_all_05]

# สร้างลิสต์ว่างเพื่อเก็บ dataframes
df_list = []

# วนลูปผ่านข้อมูลของแต่ละเดือน
for month_files, month_path in zip(all_selected_files, data_all_paths):
    # วนลูปผ่านไฟล์ที่เลือกในแต่ละเดือน
    for file_name in month_files:
        file_path = os.path.join(month_path, file_name)
        # แยกชื่อเมืองออกจากชื่อไฟล์
        city_name = file_name.split('-stop-and-search')[0].split('-', 2)[-1]
        try:
            # อ่านไฟล์ CSV
            df = pd.read_csv(file_path)
            # เพิ่มคอลัมน์ 'City'
            df['City'] = city_name
            # เพิ่ม dataframe ไปยังลิสต์
            df_list.append(df)
        except Exception as e:
            print(f"ข้อผิดพลาดในการอ่านไฟล์ {file_path}: {e}")

# นำ dataframes ทั้งหมดมารวมกันเป็น dataframe เดียว
if df_list:
    all_data_df = pd.concat(df_list, ignore_index=True)

    # กรองข้อมูลเฉพาะบันทึกการหยุดตรวจค้นที่มีเชื้อชาติเป็น 'Asian'
    asian_stop_and_search = all_data_df[all_data_df['Self-defined ethnicity'].str.contains('Asian', na=False)]

    # นับจำนวนเหตุการณ์หยุดตรวจค้นของคน Asian ในแต่ละเมือง
    asian_counts_by_city = asian_stop_and_search['City'].value_counts().reset_index()
    asian_counts_by_city.columns = ['City', 'Asian_Stop_and_Search_Count']

    # ค้นหาเมืองที่มีจำนวนน้อยที่สุดและมากที่สุด
    min_city = asian_counts_by_city.loc[asian_counts_by_city['Asian_Stop_and_Search_Count'].idxmin()]
    max_city = asian_counts_by_city.loc[asian_counts_by_city['Asian_Stop_and_Search_Count'].idxmax()]

    print("📉 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **น้อยที่สุด** ตลอด 5 เดือน:")
    print(f"➡️ เมือง: {min_city['City']}, จำนวนครั้ง: {min_city['Asian_Stop_and_Search_Count']} ครั้ง\n")

    print("📈 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **มากที่สุด** ตลอด 5 เดือน:")
    print(f"➡️ เมือง: {max_city['City']}, จำนวนครั้ง: {max_city['Asian_Stop_and_Search_Count']} ครั้ง")

else:
    print("ไม่พบข้อมูล dataframe ที่โหลดได้")

📉 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **น้อยที่สุด** ตลอด 5 เดือน:
➡️ เมือง: durham, จำนวนครั้ง: 5 ครั้ง

📈 เมืองที่มีจำนวนการหยุดตรวจค้นบุคคลเชื้อชาติ Asian **มากที่สุด** ตลอด 5 เดือน:
➡️ เมือง: west-midlands, จำนวนครั้ง: 2104 ครั้ง

In [68]:
may_data_path = '/content/drive/MyDrive/python2025/Data/2025-05/2025-05-city-of-london-stop-and-search.csv'

In [69]:
may_df = pd.read_csv(may_data_path)