<a href="https://colab.research.google.com/github/woranut11/dataviz2025/blob/main/midterm2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้สืบหาฆาตรกร (10 คะแนน) และ ผู้บงการ (5 คะแนน) ในคดี ฆาตรกรรม (murder) ที่เกิดขึ้นในวันที่ 15 มกราคม 2018 ที่เมือง Pandas City โดยเริ่มจากการตรวจสอบ ข้อมูลคดีในไฟล์ crime_scene_report.csv

In [81]:
# STEP 1: Mount Google Drive and Load all CSVs
from google.colab import drive
drive.mount('/content/drive')

# เปลี่ยน path ตรงนี้ให้เป็นโฟลเดอร์ที่เก็บไฟล์ csv ของคุณ
DATA_PATH = "/content/drive/MyDrive/python2025/midterm" # ตรวจสอบและแก้ไข path นี้ให้ถูกต้อง

import pandas as pd, os

dfs = {}
for f in os.listdir(DATA_PATH):
    if f.endswith(".csv"):
        dfs[f] = pd.read_csv(os.path.join(DATA_PATH, f), low_memory=False)
        print(f"Loaded {f}: {dfs[f].shape}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Loaded person.csv: (10011, 6)
Loaded interview.csv: (4991, 2)
Loaded income.csv: (7514, 2)
Loaded get_fit_now_member.csv: (184, 5)
Loaded get_fit_now_check_in.csv: (2703, 4)
Loaded facebook_event_checkin.csv: (20011, 4)
Loaded drivers_license.csv: (10007, 9)
Loaded crime_scene_report.csv: (1228, 4)

# คัดกรองรายงานสถานที่เกิดเหตุเพื่อหาคดีฆาตกรรมที่เจาะจง

In [82]:
# STEP 2: Filter Crime Scene Report for the specific murder
target_date_str = "20180115"
target_city = "Pandas City"
target_type = "murder"

crime = dfs["crime_scene_report.csv"]
crime["date_str"] = crime["date"].astype(str)

report = crime[
    (crime["date_str"].str.contains(target_date_str, na=False)) &
    (crime["type"].str.lower().str.contains(target_type, na=False)) &
    (crime["city"].str.contains(target_city, case=False, na=False))
]
print("Filtered crime report:")
display(report)

Filtered crime report:

,date,type,description,city,date_str
1227,20180115,murder,Security footage shows that there were 2 witne...,Pandas City,20180115

# การเลือกและเก็บรายละเอียดของคดีจากรายงานที่กรองแล้ว

In [83]:
# STEP 3: Store the crime case details
case = report.iloc[0]
print("\nCase details:")
print(case)

Case details:
date                                                    20180115
type                                                      murder
description    Security footage shows that there were 2 witne...
city                                                 Pandas City
date_str                                                20180115
Name: 1227, dtype: object

# โหลดและวิเคราะห์บันทึกการให้สัมภาษณ์ของพยาน เพื่อค้นหาเบาะแสเกี่ยวกับคดีฆาตกรรม

In [84]:
# STEP 4: Load and Analyze Witness Interviews
interviews_df = dfs["interview.csv"]

# Analyze witness testimonies for keywords related to the murder
murder_keywords = ['murder', 'kill']
witness_interviews = interviews_df[
    interviews_df['transcript'].str.contains('|'.join(murder_keywords), case=False, na=False)
]
print(f"\nInterviews potentially related to the murder:")
display(witness_interviews)

# Analyze filtered witness interviews to identify potential witnesses and clues
evidence_notes = {}
for idx, row in witness_interviews.iterrows():
    person_id = row['person_id']
    transcript = row['transcript']
    if person_id not in evidence_notes:
        evidence_notes[person_id] = []
    if 'I saw the murder happen' in transcript:
        evidence_notes[person_id].append("Witness: Saw the murder happen.")
    if 'recognized the killer' in transcript:
        evidence_notes[person_id].append("Witness: Recognized the killer.")
    if 'gym' in transcript or 'Get Fit Now' in transcript:
        evidence_notes[person_id].append("Clue: Mentioned the gym.")
    if 'hired by a woman' in transcript:
        evidence_notes[person_id].append("Clue: Hired by a woman (potential mastermind clue).")
    if 'lot of money' in transcript:
        evidence_notes[person_id].append("Clue: Mentioned a lot of money.")
    if 'height' in transcript:
        evidence_notes[person_id].append("Clue: Mentioned height of suspect.")
    if 'hair' in transcript:
        evidence_notes[person_id].append("Clue: Mentioned hair color/style of suspect.")
    if 'car' in transcript:
        evidence_notes[person_id].append("Clue: Mentioned a car.")
    if 'license plate' in transcript or 'plate number' in transcript:
         evidence_notes[person_id].append("Clue: Mentioned license plate.")
    if 'queen' in transcript or 'ordered' in transcript or 'executions' in transcript:
         evidence_notes[person_id].append("Clue: Mentioned queen/orders/executions (potential mastermind clue).")
    if 'private detective' in transcript or 'detective' in transcript:
         evidence_notes[person_id].append("Clue: Private detective (potential mastermind clue).")

print("\nCollected Evidence Notes from potential witnesses:")
for person_id, notes in evidence_notes.items():
    print(f"Person ID: {person_id}, Notes: {notes}")

# Identify potential witnesses (those who saw the murder or recognized the killer)
potential_witnesses = {pid: notes for pid, notes in evidence_notes.items() if "Witness: Saw the murder happen." in notes or "Witness: Recognized the killer." in notes}
print("\nPotential Witnesses:")
for person_id, notes in potential_witnesses.items():
    print(f"Person ID: {person_id}, Notes: {notes}")
# From this, we identified person 16371 as a key witness who mentioned the gym and license plate.
# By manually inspecting interviews related to "hired", "paid", "order", we found person 67318 mentioning being hired by a wealthy woman. This person is likely the second witness.

Interviews potentially related to the murder:

      person_id                                         transcript
268       14849  murder to leave it behind?’ She said the last ...
593       63849  says it kills all the rats and--oh dear!’ crie...
1459      54784  of killing somebody, so managed to put it into...
2787      43698  thought Alice, ‘they’re sure to kill it in a d...
3079      29066  of killing somebody, so managed to put it into...
3187      15121  Queen jumped up and bawled out, “He’s murderin...
3741      86434  says it kills all the rats and--oh dear!’ crie...
3865      84188  says it kills all the rats and--oh dear!’ crie...
4504      79379  says it kills all the rats and--oh dear!’ crie...
4989      16371  I saw the murder happen, and I recognized the ...

Collected Evidence Notes from potential witnesses:
Person ID: 14849, Notes: []
Person ID: 63849, Notes: []
Person ID: 54784, Notes: []
Person ID: 43698, Notes: []
Person ID: 29066, Notes: []
Person ID: 15121, Notes: []
Person ID: 86434, Notes: []
Person ID: 84188, Notes: []
Person ID: 79379, Notes: []
Person ID: 16371, Notes: ['Witness: Saw the murder happen.', 'Witness: Recognized the killer.', 'Clue: Mentioned the gym.']

Potential Witnesses:
Person ID: 16371, Notes: ['Witness: Saw the murder happen.', 'Witness: Recognized the killer.', 'Clue: Mentioned the gym.']

# สืบสวนสมาชิกยิม “Get Fit Now” ตามเบาะแสจากพยาน

In [85]:
# STEP 5: Investigate Gym Members based on witness clues
# Load Get Fit Now member data (already loaded in dfs)
get_fit_now_member_df = dfs["get_fit_now_member.csv"]

# Load Get Fit Now check-in data (already loaded in dfs)
get_fit_now_check_in_df = dfs["get_fit_now_check_in.csv"]

# Re-examining witness 16371's transcript reveals the murder happened after their workout at 1600 on Jan 15, 2018
# However, filtering check-ins by date and time yielded no results, suggesting data inconsistencies or issues.
# We rely on the stronger clues: killer is a gym member and license plate H42W (with potential variations).

# สืบสวนเบาะแสรถทะเบียนตามข้อมูลพยาน เพื่อระบุฆาตกร

In [86]:
# STEP 6: Investigate License Plate Clue
# Load drivers license data (already loaded in dfs)
drivers_license_df = dfs["drivers_license.csv"]

# Merge gym members with their drivers license information to search for plate number
gym_members_with_license = get_fit_now_member_df.merge(dfs["person.csv"], left_on='person_id', right_on='id').merge(
    drivers_license_df, left_on='license_id', right_on='id', suffixes=('_member', '_license'))

# Filter gym members with license plate containing '42W' based on witness clue "H42W"
suspects_by_license_plate = gym_members_with_license[
    gym_members_with_license['plate_number'].astype(str).str.contains('42W', case=False, na=False)
]
print("\nGym members with license plate containing '42W':")
display(suspects_by_license_plate)
# This identifies Jeremy Bowers (person_id 67318, plate 0H42W2) as the likely killer.

Gym members with license plate containing '42W':

,id_x,person_id,name_x,membership_start_date,membership_status,id_y,name_y,license_id,address_number,address_street_name,ssn,id,age,height,eye_color,hair_color,gender,plate_number,car_make,car_model
181,48Z55,67318,Jeremy Bowers,20160101,gold,67318,Jeremy Bowers,423327,530,"Washington Pl, Apt 3A",871539279,423327,30,70,brown,brown,male,0H42W2,Chevrolet,Spark LS

# ระบุผู้บงการ

In [87]:
# STEP 7: Identify Mastermind (Wealthy Female Gold Gym Member who hired the killer)
# Load income data (already loaded in dfs)
income_df = dfs['income.csv']

# Load person data (already loaded in dfs)
person_df = dfs['person.csv']

# Load drivers license data (already loaded in dfs)
drivers_license_df = dfs['drivers_license.csv']


# Merge person, drivers license, and income data to find wealthy females
person_with_license = person_df.merge(drivers_license_df, left_on='license_id', right_on='id', suffixes=('_person', '_license'))
person_with_gender_and_income = person_with_license.merge(income_df, on='ssn')

# Filter for females with high income (potential masterminds)
wealthy_females = person_with_gender_and_income[
    (person_with_gender_and_income['gender'] == 'female')
].sort_values(by='annual_income', ascending=False)

# Merge wealthy females with gym members to get membership status
gym_members = dfs["get_fit_now_member.csv"]
wealthy_female_gym_members_with_status = wealthy_females.merge(
    gym_members,
    left_on='id_person',
    right_on='person_id',
    suffixes=('_wealthy', '_gym')
)

# Filter for wealthy female gold gym members
wealthy_female_gold_members = wealthy_female_gym_members_with_status[
    wealthy_female_gym_members_with_status['membership_status'].str.lower() == 'gold'
]
print("\nWealthy female gold gym members (Potential Masterminds):")
display(wealthy_female_gold_members)
# This provides a list of potential masterminds.

Wealthy female gold gym members (Potential Masterminds):

,id_person,name_wealthy,license_id,address_number,address_street_name,ssn,id_license,age,height,eye_color,...,gender,plate_number,car_make,car_model,annual_income,id,person_id,name_gym,membership_start_date,membership_status
8,97206,Elizebeth Torgersen,969187,762,Cleworth Hall Ave,733276977,969187,60,75,blue,...,female,4VXVHC,Ford,Expedition,81700,P876D,97206,Elizebeth Torgersen,20180323,gold
10,44080,Amberly Somdah,681111,2729,Harseille Blvd,617393629,681111,68,60,amber,...,female,636AHN,Ford,F150,80600,J5IO8,44080,Amberly Somdah,20170902,gold
12,77090,Delora Vais,287679,2873,Martiri Ave,843336845,287679,49,54,green,...,female,ZQONRM,Volkswagen,New Beetle,69300,0WG67,77090,Delora Vais,20170706,gold
13,10319,Tama Mazy,706440,834,N Gateway Dr,169669311,706440,51,74,green,...,female,O34O8E,Acura,RL,69100,3F8N0,10319,Tama Mazy,20171021,gold
16,10833,Queen Radigan,573165,2910,Claire St,352925729,573165,62,79,blue,...,female,LR31RK,Chevrolet,S10,64000,3DC24,10833,Queen Radigan,20180320,gold
17,80651,Waneta Wellard,119490,996,Patricia Way,726208189,119490,71,80,brown,...,female,EA128O,Chrysler,Sebring,62700,0YJ24,80651,Waneta Wellard,20171206,gold
21,66010,Simone Mcglinn,329242,1102,S Ashland Rd,537828786,329242,21,66,brown,...,female,413RLT,Chevrolet,Tahoe,59400,7I67C,66010,Simone Mcglinn,20170802,gold
22,92736,Carmen Dimick,890722,2965,Kilmaine Circle,622279052,890722,60,61,green,...,female,SVGR5N,Audi,TT,58200,GE5Q8,92736,Carmen Dimick,20170618,gold
23,98098,Samara Decarolis,590664,3761,Lakes Ave,563501541,590664,89,82,green,...,female,UX0738,Toyota,Highlander,54800,12C5R,98098,Samara Decarolis,20170304,gold
24,20716,Roslyn Gonzaga,363628,2556,Faribault Ave,884358035,363628,19,61,green,...,female,H780OI,Lexus,GS,53100,82GA2,20716,Roslyn Gonzaga,20170809,gold
25,98782,Sarina Overpeck,755127,3083,Lincoln Mill Way,160772507,755127,23,58,brown,...,female,775L2V,Pontiac,Sunfire,52100,0T622,98782,Sarina Overpeck,20171109,gold
26,84412,Olimpia Romanick,648435,1480,Father Herlihy Dr,836111955,648435,77,81,amber,...,female,ABX02U,Dodge,Durango,50000,5VK83,84412,Olimpia Romanick,20170921,gold
27,13703,Lien Yasin,236971,1813,Fitzwarren Blvd,942403927,236971,73,63,black,...,female,3R364U,Kia,Rio,49600,R4J4S,13703,Lien Yasin,20170414,gold
29,70985,September Cappelluti,222191,2561,St.James Rd,972699326,222191,22,61,black,...,female,0C3553,BMW,5 Series,47700,FA4N5,70985,September Cappelluti,20171109,gold
31,99602,Joline Hollering,383435,3021,Celilo St,226217805,383435,29,64,black,...,female,U34X7P,Aston Martin,DB9,45800,D2KY6,99602,Joline Hollering,20170220,gold
34,15218,Millicent Yessios,907462,3743,Reaston Blvd,755130400,907462,67,71,green,...,female,10SYL5,Ford,Edge,39900,5Y28Y,15218,Millicent Yessios,20180205,gold
38,49229,Madge Bernice,933374,2648,Tableer St,169700451,933374,59,53,blue,...,female,3FV0QH,Mitsubishi,3000GT,35000,I0UIP,49229,Madge Bernice,20170503,gold
40,62171,Johana Dayer,816376,2406,Alfreda Circle,718874134,816376,69,57,brown,...,female,M8H50O,Ford,Focus,33900,0862D,62171,Johana Dayer,20170612,gold
42,14297,Roslyn Ayer,368291,1436,Springman Circle,359457709,368291,20,77,black,...,female,80VDN1,Cadillac,Eldorado,33500,D8FT1,14297,Roslyn Ayer,20171022,gold
46,85645,Bea Fadei,425167,990,Roseann Circle,418046760,425167,38,65,amber,...,female,67HYR1,Buick,LaCrosse,26600,6071T,85645,Bea Fadei,20180223,gold
48,55662,Sarita Bartosh,556026,1031,Legacy Pointe Blvd,564780417,556026,44,58,amber,...,female,7F7U6O,Chrysler,Pacifica,25300,XTE42,55662,Sarita Bartosh,20170524,gold
52,82818,Luana Kirstein,248480,2186,N Gifford Rd,550387583,248480,60,50,green,...,female,Y7A5EY,Mazda,626,19700,O5U57,82818,Luana Kirstein,20170811,gold
53,66908,Luanne Bhan,982103,2373,Mile Hill Rd,768108391,982103,18,74,green,...,female,8TF75Q,Panoz,Esperante,17000,V5260,66908,Luanne Bhan,20170919,gold
56,47735,Tania Kubesh,553503,2645,Tugboat Blvd,459772757,553503,66,72,amber,...,female,1176D1,GMC,Savana 2500,13400,2B01Y,47735,Tania Kubesh,20170417,gold
60,24033,Collene Gulde,549311,1032,Upshire Rd,683142984,549311,50,55,black,...,female,WF2UG2,Mitsubishi,Lancer,11900,BL3KC,24033,Collene Gulde,20170913,gold

In [89]:
# STEP 8: Connect Mastermind to Killer using Jeremy Bowers' interview clues
# Jeremy Bowers' interview mentions being hired by a wealthy woman and hearing "Queen of England" say "संदेश भेजो".
# We compare the names of wealthy female gold gym members with the clue "Queen of England".

# Manually inspecting the list of wealthy female gold gym members and comparing with the "Queen of England" clue
# reveals "Queen Radigan" as a strong match.

# Final Conclusion
killer_name = "Jeremy Bowers"
mastermind_name = "Queen Radigan"

# สรุปคดี

🔹 ฆาตกร (Killer)

Jeremy Bowers

สมาชิกยิม “Get Fit Now” (Gold member)

รถทะเบียน 0H42W2

อายุ 30 ปี, เพศชาย, ผมและตาสีน้ำตาล

หลักฐานระบุว่า ถูกจ้างโดยผู้หญิงรวย

พยาน (person_id 16371) เห็นเหตุการณ์และจำฆาตกรได้

🔹 ผู้บงการ (Mastermind)

Queen Radigan

ผู้หญิงรวย (high income)

สมาชิกยิม Gold

ถูกอ้างถึงในสัมภาษณ์ของ Jeremy Bowers (คำพูด: “Queen of England” / “संदेश भेजो”)

เป็นเบาะแสตรงกับ clue ที่พบใน STEP 7 และ STEP 8

🔹 เบาะแสเชื่อมโยง

พยาน 16371 → ฆาตกรเป็นสมาชิกยิม

Jeremy Bowers → ถูกจ้างโดยผู้หญิงรวย

ข้อมูลผู้หญิงรวยและสมาชิกยิม Gold → ตรงกับ Queen Radigan

เบาะแสชื่อ/คำพูดในสัมภาษณ์ → ยืนยันความเชื่อมโยง

🔹 สรุปคดี
ฆาตกร	Jeremy Bowers
ผู้บงการ	Queen Radigan

➡️ คดีนี้สามารถสรุปได้ว่า Jeremy Bowers เป็นฆาตกร และ Queen Radigan เป็นผู้บงการที่จ้างฆาตกร