<a href="https://colab.research.google.com/github/woranut11/dataviz2025/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Dictionary_Function_Loop_Condition_2025_%E0%B9%81%E0%B8%81%E0%B9%89%E0%B9%84%E0%B8%82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# DICT

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

In [ ]:
dict_b['b'] = 567

In [ ]:
dict_b

{'a': 123, 'b': 567}

#การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 456

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
b=print_myname()

Thanapong

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มี ครบทุกส่วน
    st = f'ชื่อ {name} '
    return st

In [ ]:
print_name('Stat')

'ชื่อ Stat '

In [ ]:
a=print_name('Stat')

In [ ]:
a

'ชื่อ Stat '

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('หาญเสมอ','66xxxxxx','วรนุช')

'ชื่อ วรนุช นามสกุล หาญเสมอ รหัส 66xxxxxx'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='663021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 663021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='663021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 663021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('วรนุช','หาญเสมอ','663020294-7')

ชื่อ วรนุช นามสกุล หาญเสมอ รหัส 663020294-7
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

# QuiZ 5

เขียน function ของ HW 2

In [ ]:
# prompt: เขียนเขียน function จากเวลาที่ใส่มา 12:30:15 ,Wednesday- 13:41:07,Thursday
# 12:53:15,Monday - 00:59:25,Tuesday
# 16:06:09 ,Sunday- 11:11:11,Tuesday

from datetime import datetime, timedelta

def time_difference(time_str):
  """
  Calculates the time difference in seconds between two times in hh:mm:ss format.

  Args:
    time_str: A string in the format "hh1:mm1:ss1-hh2:mm2:ss2".

  Returns:
    The time difference in seconds.
  """
  time1_str, time2_str = time_str.split('-')
  time1 = datetime.strptime(time1_str, '%H:%M:%S')
  time2 = datetime.strptime(time2_str, '%H:%M:%S')
  time_diff = time2 - time1
  return time_diff.total_seconds()

def calculate_time_difference_with_day(time_str):
    """
    Calculates the time difference in seconds between two time strings,
    considering the day of the week.

    Args:
        time_str: A string in the format 'hh1:mm1:ss1 ,Day1- hh2:mm2:ss2,Day2'.

    Returns:
        The time difference in seconds as an integer.
    """
    time1_day_str, time2_day_str = time_str.split(' - ')
    time1_str, day1_str = time1_day_str.split(',')
    time2_str, day2_str = time2_day_str.split(',')

    # Map day names to numbers (Monday=0, Sunday=6)
    day_mapping = {
        'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
        'Friday': 4, 'Saturday': 5, 'Sunday': 6
    }

    # Create datetime objects with a common base date (e.g., Monday)
    base_date = datetime(2023, 10, 23) # A Monday

    time1 = datetime.strptime(time1_str.strip(), '%H:%M:%S')
    time2 = datetime.strptime(time2_str.strip(), '%H:%M:%S')

    # Calculate days difference
    day1_num = day_mapping[day1_str.strip()]
    day2_num = day_mapping[day2_str.strip()]
    days_difference = day2_num - day1_num

    # If time2 is on the next week, add 7 days
    if days_difference < 0:
        days_difference += 7

    # Calculate total time difference in seconds
    time_difference_seconds = (time2 - time1).total_seconds() + (days_difference * 24 * 3600)

    return int(time_difference_seconds)


# Example usage with the provided data:
data = """
12:30:15,Wednesday - 13:41:07,Thursday
12:53:15,Monday - 00:59:25,Tuesday
16:06:09,Sunday - 11:11:11,Tuesday
"""

entries = data.strip().split('\n')

for entry in entries:
  time_diff = calculate_time_difference_with_day(entry)
  print(f"Time difference for '{entry}': {time_diff} seconds")

Time difference for '12:30:15,Wednesday - 13:41:07,Thursday': 90652 seconds
Time difference for '12:53:15,Monday - 00:59:25,Tuesday': 43570 seconds
Time difference for '16:06:09,Sunday - 11:11:11,Tuesday': 155102 seconds

In [ ]:
print(calculate_time_difference_with_day('12:30:15,Wednesday - 13:41:07,Thursday'))
print(calculate_time_difference_with_day('12:53:15,Monday - 00:59:25,Tuesday'))
print(calculate_time_difference_with_day('16:06:09,Sunday - 11:11:11,Tuesday'))

90652
43570
155102

In [ ]:
# prompt: เขียน function จากเวลาที่ใส่มา                                                                                                                                                                                                                            12:30:15 ,Wednesday- 13:41:07,Thursday
#  12:53:15,Monday - 00:59:25,Tuesday
# # 16:06:09 ,Sunday- 11:11:11,Tuesday     มีการใช้ ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ตัวเดียว

from datetime import datetime, timedelta

def calculate_time_difference_with_day_and_default(time_str):
    """
    Calculates the time difference in seconds between two time strings,
    considering the day of the week, with default day handling.

    Args:
        time_str: A string in the format 'hh1:mm1:ss1 ,Day1- hh2:mm2:ss2,Day2'
                  or 'hh1:mm1:ss1 ,Day- hh2:mm2:ss2' or 'hh1:mm1:ss1-hh2:mm2:ss2,Day'.
                  If only one day is provided, it's assumed for both times.
                  If no day is provided, the difference within the same day is calculated.

    Returns:
        The time difference in seconds as an integer.
    """
    parts = time_str.split('-')
    time1_part = parts[0].strip()
    time2_part = parts[1].strip()

    # Strip comments from parts
    if '#' in time1_part:
      time1_part = time1_part.split('#')[0].strip()
    if '#' in time2_part:
      time2_part = time2_part.split('#')[0].strip()

    # Extract time and day for the first part
    if ',' in time1_part:
        time1_str, day1_str = [p.strip() for p in time1_part.split(',')]
    else:
        time1_str = time1_part
        day1_str = None

    # Extract time and day for the second part
    if ',' in time2_part:
        time2_str, day2_str = [p.strip() for p in time2_part.split(',')]
    else:
        time2_str = time2_part
        day2_str = None

    # Handle default day cases
    if day1_str is None and day2_str is not None:
        day1_str = day2_str
    elif day1_str is not None and day2_str is None:
        day2_str = day1_str
    elif day1_str is None and day2_str is None:
        # Assume same day if no day is provided
        day1_str = day2_str = 'Monday' # Use a placeholder day for calculation


    # Map day names to numbers (Monday=0, Sunday=6)
    day_mapping = {
        'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
        'Friday': 4, 'Saturday': 5, 'Sunday': 6
    }

    # Create datetime objects with a common base date (e.g., Monday)
    base_date = datetime(2023, 10, 23) # A Monday

    try:
        datetime1 = datetime.combine(base_date + timedelta(days=day_mapping.get(day1_str, 0)), datetime.strptime(time1_str, '%H:%M:%S').time())
        datetime2 = datetime.combine(base_date + timedelta(days=day_mapping.get(day2_str, 0)), datetime.strptime(time2_str, '%H:%M:%S').time())
    except ValueError as e:
        return f"Error parsing time or day: {e}"


    # Calculate total time difference in seconds, handling cases where datetime2 is before datetime1
    time_difference = datetime2 - datetime1
    if time_difference.total_seconds() < 0:
        time_difference += timedelta(days=7) # Add a week if the difference is negative (spans across midnight/week)


    return int(time_difference.total_seconds())


# Example usage with the provided data and default cases:
data = """
12:30:15 ,Wednesday- 13:41:07,Thursday
12:53:15,Monday - 00:59:25,Tuesday
16:06:09 ,Sunday- 11:11:11,Tuesday
08:00:00,Monday - 09:00:00 # Default: Monday to Monday
10:00:00 - 11:00:00,Tuesday # Default: Tuesday to Tuesday
14:00:00,Friday - 13:00:00 # Default: Friday to Friday (next day)
"""

entries = data.strip().split('\n')

for entry in entries:
  time_diff = calculate_time_difference_with_day_and_default(entry)
  print(f"Time difference for '{entry.strip()}': {time_diff} seconds")

# Additional examples with default cases
print(f"Time difference for '08:00:00,Monday - 09:00:00': {calculate_time_difference_with_day_and_default('08:00:00,Monday - 09:00:00')} seconds")
print(f"Time difference for '10:00:00 - 11:00:00,Tuesday': {calculate_time_difference_with_day_and_default('10:00:00 - 11:00:00,Tuesday')} seconds")
print(f"Time difference for '14:00:00,Friday - 13:00:00': {calculate_time_difference_with_day_and_default('14:00:00,Friday - 13:00:00')} seconds")
print(f"Time difference for '10:00:00 - 10:00:00': {calculate_time_difference_with_day_and_default('10:00:00 - 10:00:00')} seconds") # Same time, same day
print(f"Time difference for '10:00:00 - 09:00:00': {calculate_time_difference_with_day_and_default('10:00:00 - 09:00:00')} seconds") # Time on next day, same day default

Time difference for '12:30:15 ,Wednesday- 13:41:07,Thursday': 90652 seconds
Time difference for '12:53:15,Monday - 00:59:25,Tuesday': 43570 seconds
Time difference for '16:06:09 ,Sunday- 11:11:11,Tuesday': 155102 seconds
Time difference for '08:00:00,Monday - 09:00:00 # Default: Monday to Monday': 3600 seconds
Time difference for '10:00:00 - 11:00:00,Tuesday # Default: Tuesday to Tuesday': 3600 seconds
Time difference for '14:00:00,Friday - 13:00:00 # Default: Friday to Friday (next day)': 601200 seconds
Time difference for '08:00:00,Monday - 09:00:00': 3600 seconds
Time difference for '10:00:00 - 11:00:00,Tuesday': 3600 seconds
Time difference for '14:00:00,Friday - 13:00:00': 601200 seconds
Time difference for '10:00:00 - 10:00:00': 0 seconds
Time difference for '10:00:00 - 09:00:00': 601200 seconds

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

#inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp

- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc','def')

abc def

In [ ]:
print('abc','def',sep='+')

abc+def

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [1]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [2]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [3]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [4]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [5]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

##วนลูปโดยสนใจทั้งสมาชิกและลำดับ##

In [7]:
index =0
for i in 'Thanapong':
     print(f' สมาชิกคือ {i} เป็นลำดับที่ {index}')
     index += 1

 สมาชิกคือ T เป็นลำดับที่ 0
 สมาชิกคือ h เป็นลำดับที่ 1
 สมาชิกคือ a เป็นลำดับที่ 2
 สมาชิกคือ n เป็นลำดับที่ 3
 สมาชิกคือ a เป็นลำดับที่ 4
 สมาชิกคือ p เป็นลำดับที่ 5
 สมาชิกคือ o เป็นลำดับที่ 6
 สมาชิกคือ n เป็นลำดับที่ 7
 สมาชิกคือ g เป็นลำดับที่ 8

In [9]:
for index,i in enumerate('Thanapong'):
    print(f' สมาชิกคือ {i} เป็นลำดับที่ {index}')

 สมาชิกคือ T เป็นลำดับที่ 0
 สมาชิกคือ h เป็นลำดับที่ 1
 สมาชิกคือ a เป็นลำดับที่ 2
 สมาชิกคือ n เป็นลำดับที่ 3
 สมาชิกคือ a เป็นลำดับที่ 4
 สมาชิกคือ p เป็นลำดับที่ 5
 สมาชิกคือ o เป็นลำดับที่ 6
 สมาชิกคือ n เป็นลำดับที่ 7
 สมาชิกคือ g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [10]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quizt 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้
ex:
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [12]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish